@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
body {
    background-color: #dadada;
    font-family: "Space Grotesk", sans-serif;
}

.login {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 30rem;
        margin: auto;
        margin-top: 5rem;
    }
    &-tittle {
        font-size: 5rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 1rem;
    }

    &-name {
        font-size: 2.5rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 1rem;
        &-input {
            width: 50%;
            padding: 0.3rem;
            font-size: 1.5rem;
            border: 2px solid #333;
            border-radius: 5px;
            box-sizing: border-box;
            border-radius: 10px;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: #999;
                text-align: center;
            }
        }
    }
    &-password {
        font-size: 2.5rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 1rem;
        &-input {
            width: 50%;
            padding: 0.3rem;
            font-size: 1.5rem;
            border: 2px solid #333;
            border-radius: 5px;
            box-sizing: border-box;
            border-radius: 10px;
             margin-bottom: 3rem;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: #999;
                text-align: center;
            }
        }
    }
    &-submit_btn {
        color: #333;
        margin-top: 2rem;
        background-color: #33333300;
        width: 80%;
        padding: 0.3rem;
        font-size: 1.5rem;
        border: 2px solid #333;
        border-radius: 5px;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        border-radius: 10px;

        &:hover {
            background-color: #333;
            scale: 1.2;
            color: #999;
        }
    }
}
